* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 34px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    /* background: #4681b7; */
    background: url("../images/tileable_wood_texture.jpg");
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1, h3, p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: 700;
    color: #4aaaa5;
    font-size: 20px;
}

h1 {
    font-size: 30px;
    line-height: 49px;
    padding-bottom: 20px;
    border-bottom: 3px solid #dddddd;
}

p {
    color: #777777;
}

/*header*/
#mainhead {
    width: 100%;
    margin: 0 0 30px;
    color: #ffffff;
    z-index: 99;
    overflow: auto;
    border-bottom: 2px solid #cccccc;
    position: fixed;
    background: #ffffff;
}

#logo {
    height: 90px;
    width: 325px;
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    line-height: 90px;
    float: left;
    text-decoration: none;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    color: #777777;
    text-decoration: none;
    padding-left: 15px;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #efefef;
    line-height: 18px;
}

nav a:first-child {
    border-left: 0 none;
}

/*main*/
#main-container {
    padding-top: 130px;
}

.about-container {
    background: #ffffff;
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 960px;
    float: left;
    border: 1px solid #dddddd;
}

.tacts-container {
    background: #ffffff;
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 960px;
    float: left;
    border: 1px solid #dddddd;
}

.port-container {
    background: #ffffff;
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 960px;
    float: left;
    border: 1px solid #dddddd;
}

.fun-image {
    width: 200px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-left: 25px;
}

/*footer*/
footer {
    background: #666666;
    color: #ffffff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #cccccc;
    font-size: 12px;
    text-align: center;
}

/*portfolio*/
.fun-facts {
    width: 400px;
    /* overflow: auto; */
    position: relative;
    float: left;
    margin: 20px 0 25px;
}

.fun-facts:nth-child(even) {  
    clear: both;
    margin-right: 50px;
}  

.fun-facts img { 
    width: 100%;
    border: 0 none;
    opacity: 1;
    padding-left: 1px;
}

.fun-facts h3 {
    border-bottom: 0;
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    position: absolute; 
    bottom: 20px;
    padding: 10;
    width: 100%;
    line-height: 50px;
    margin-bottom: 0; 
    font-weight: 300px;
    margin-left: 25px;
    padding-right: 50px;
}

.clearfix {
    clear: both;
}

/*contact*/
#contact-form ul{
    margin-bottom: 20px;
}

#contact-form li{
    margin-bottom: 10px;
}

laber,
input[type=text],
input[type=email],
textarea{
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea{
    height: 35px;
    border: 1px solid #dddddd;
    padding: 0 10px;
    font-size: 14px;
}

textarea {
    height: 200px;
}

input[type=submit] {
    background: #4aaaa5;
    border: 0 none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}